@import "compass";

#notifications {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;

  .notification {
    background: blue;
    text-align: center;
    line-height: 70px;
    color: #fff;
    font-size: 16px;
  }
}
.dropdown-toggle {
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  color: #000;
  &:hover {
    text-decoration: none;
    background-color: #eeeeee;
  }
}

h4,h5{
  font-size: 13px !important;
  font-weight: normal;
}
.title h4{
  font-weight: bold;
}

.link {
  text-align: center;
  a {
    color: #999;
    text-align: center;
  }
}
.left, .right {
  margin-top: 10px;
  h3 {
    font-size: 20px;
  }
  .actions {
    width: 100%;
    padding-bottom: 14px;
    border-bottom: solid 1px #ccc;
    #notify {
      opacity: 0;
      width: 120px;
    }
  }
}

.separator {
  border-right: solid 1px #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 319px;
}

.left{
  float: left;
  width: 300px;
  bottom: 0;
  top: 0;
  margin-left: 20px;
  #tree1 {
    margin: 6px 0 0 12px;
    width: 280px;
  }
}

.right {
  margin-right: 20px;
  left: 320px;
  float: left;
  right: 0;
  width: none !important;
  position: absolute;
  .actions, h3 {
    padding-left: 10px;
  }
  td {
    line-height: 40px;
    padding: 0;
  }
}

.list {
  .icon {
    width: 16px;
    height: 16px;
    margin: 14.5px 0 0 14.5px;
    background-size: cover;
    background-position: center center;
  }
}

.folder {
  background-image: url(icon_11_collection_email.png);
}
.document {
  background-image: url(docs-32.png);
}
.spreadsheet {
  background-image: url(spreadsheets-32.png);
}
.drawing {
  background-image: url(drawings-32.png);
}
.presentation {
  background-image: url(presentations-32.png);
}
.file {
    background-image: url(icon_10_generic_list.png);
}
.pdf {
  background-image: url(icon_10_pdf_list.png);
}

#cursor-loader {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  margin-top: -35px;
  background: #eee;
  padding: 3px;
  position: absolute;
  z-index: 999;
  @include border-radius(5px);
  @include box-shadow(1px 1px 3px rgba(#000, .3));
  top: 200px;
  left: 50%;
}

td {
  .btn-group {
    width: 120px !important;
    background-color: transparent !important;
    margin-bottom: 0 !important;
    .btn {
      font-size: 10px !important;
      padding-left: 6px !important;
      padding-right: 6px !important;
      padding-bottom: 4px !important;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      padding-top: 4px !important;
    }
  }
}

.synced {
  background: rgba(0, 109, 204, 0.3);
}